Daniel Böhmer <dboehmer@cpan.org> <post@daniel-boehmer.de>
Ed Adjei <edmund@cpan.org> <e.adjei@cv-library.co.uk>
José Joaquín Atria <jjatria@cpan.org> <jjatria@gmail.com>
Lance Wicks <lancew@cpan.org> <lw@judocoach.com>
